.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .bar-diverging-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  background: linear-gradient(329.31deg, #FF8382 15.2%, #F52F5F 97.54%);
  border-radius: 10px;

}

.container .bar-diverging-chart h1 {
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Roboto';
}